# Environment
jupyter
ipykernel

# Basic libraries
matplotlib
pandas

# Machine Learning & Deep Learning
tensorflow # Contains: opencv-python | seaborn | numpy | scipy | h5py
scikit-learn

# Computer Vision

Pillow

# Kaggle
kaggle
kagglehub